@import url(monokai.css);

/* If you want to set the line-height of the code, you can modify it */
/*.highlight .line {
  height: initial;
  line-height: initial;
}*/

.highlight, pre {
    overflow-y: hidden;
    background-color: #272822;
    line-height: 24px;
}
.highlight:before{
    background-color: #272822;
}

.highlight table>tbody>tr:nth-of-type(odd) {
    background-color: #272822;
}

.highlight::-webkit-scrollbar {
    /*滚动条整体样式*/
    /*高宽分别对应横竖滚动条的尺寸*/
    /*width: 10px;*/
    height: 8px;
}

.highlight::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 45px;
    /*background-color: #D62929;*/
    background-color: #6f6969;
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, 0.2) 12.5%,
        transparent 12.5%,
        transparent 25%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 37.5%,
        transparent 37.5%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 62.5%,
        transparent 62.5%,
        transparent 75%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 0.2) 87.5%,
        transparent 87.5%);
}

.highlight::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
